.gallery{
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.gallery img{
  height: 25rem;
  width: 25rem;
  object-fit: cover;
}