*, **::before, **::after {box-sizing: border-box;}
html, body { margin: 0; padding: 0; line-height: 1.5;}
img{max-width: 100%;}

:root{
  --clr-blue: hsl(200 90% 40%);
  --clr-dark-blue: #005485;
  --clr-ligth-green: hsl(100 40% 60%);
  --clr-dark-green: hsl(100 40% 40%);
  --clr-black: hsl(0 0% 0%);
  --clr-white: hsl(0 100% 100%);
  --clr-grey: hsl(0 0% 85%);

  --font-size-nr: 1rem;
  --font-size-md: 1.875rem;
  --font-size-lg: 2.5rem;
  --font-size-xl: 3.125rem;
}

h1{font-size: var(--font-size-xl, 3.125rem);}
h2{font-size: var(--font-size-lg, 2.5rem);}
h3{font-size: var(--font-size-md, 1.875rem);}
p{font-size: var(--font-size-nr, 1rem);}
a{font-size: var(--font-size-nr, 1rem); 
  text-decoration: none; color: var(--clr-black); font-weight: 700;}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

body{
  font-family: 'Raleway', sans-serif;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  width: 70%;
  max-width: 1400px;
}

.nav-link{
  font-size: var(--font-size-md);
}

.text-center{
  text-align: center;
}

.mg-top{
  margin-top: 5rem;
}

.add-cart, .btn{
  display: block;
  background: var(--clr-ligth-green);
  text-transform: uppercase;
  font-weight: 900;
  
  transition: background 175ms linear;
}

.add-cart:hover, .btn:hover{
  background: var(--clr-dark-green);
  cursor: pointer;
}

/* FOOTER */

.site-footer-container{
  border-top: 1px solid var(--clr-grey);
}

.site-footer__info{
  display: grid;
  margin: 0 auto;
  margin-bottom: 5rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.site-footer-nav{
  gap: 1rem;
  align-items: flex-start;
}

.site-footer-nav a {
  font-weight: 400;
}